[submodule "vendor/menubar"]
	path = vendor/menubar
	url = https://github.com/RonenMars/threadbase-menubar.git
[submodule "vendor/scanner"]
	path = vendor/scanner
	url = https://github.com/RonenMars/threadbase-scanner.git
