[submodule "vendor/scanner"]
	path = vendor/scanner
	url = git@github.com:RonenMars/threadbase-scanner.git
[submodule "vendor/menubar"]
	path = vendor/menubar
	url = git@github.com:RonenMars/threadbase-menubar.git
